<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-dark table-bordered table-hover">
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.full_name }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{ user.contact }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <button data-toggle="modal" data-target="#updateModal" class="btn btn-info">Edit Your Profile</button>
</div>
<app-update [user]="goUserForUpdate" (confEdit)="edit($event)"></app-update>
