<Br />
<Br />
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="form-group">
                <label for="email">Full Name</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="user.full_name">
            </div>

            <div class="form-group">
                <label for="email">Username</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="user.username">
                <p class="text-danger">{{ errorMsg }}</p>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password">
            </div>
            <div class="form-group">
                <label for="pwd">Re-Password</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Contact</label>
                <input type="text" class="form-control"  [(ngModel)]="user.contact">
            </div>

            <button type="button" (click)="signup()" class="btn btn-primary">Submit</button>

        </div>
    </div>
</div>